# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# misc
.DS_Store
*.pem
tmp
*.tmp
*.log

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# sveltekit
/.svelte
.svelte-kit

# dotenv / credentials
.env
/infra/github-actions-sa.json
credentials

# kudos
kudos-dir
kudos-dir/*
